@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Use Inter Font */
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

/* Global styles */
html {
  background-color: theme('colors.gray.100');
}

/* Spinner */
.spinner {
  display: inline-block;
}
.spinner:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid theme('colors.gray.500');
  border-color: theme('colors.gray.500') transparent theme('colors.gray.500') transparent;
  animation: rotate 1.2s linear infinite;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
